In [27]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

import numpy as np
import pandas as pd

import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [45]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [46]:
# reflect an existing database into a new model
base = automap_base()
# reflect the tables
base.prepare(engine, reflect=True)

In [47]:
# We can view all of the classes(aka your tables) that automap found
base.classes.keys()

['measurement', 'station']

In [48]:
# Save references to each table
measure = base.classes.measurement

In [52]:
#Getting the columns in each table
[i for i in measure.__table__.columns]

[Column('id', INTEGER(), table=<measurement>, primary_key=True, nullable=False),
 Column('station', TEXT(), table=<measurement>),
 Column('date', TEXT(), table=<measurement>),
 Column('prcp', FLOAT(), table=<measurement>),
 Column('tobs', FLOAT(), table=<measurement>)]

In [49]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Climate Analysis

### # Design a query to retrieve the last 12 months of precipitation data and plot the results

In [53]:
#Queries
# Select,from - query(Table_name.column_name) ; query(table_name)
# where - filter_by(whatvever the condition you can think)
# groupby - group_by
# order by - order_by

In [35]:
final_date = session.query(measure.date).order_by(measure.date.desc()).first()[0]
#Most recent date
final_date
# Subtract 1 year from this date.
1_year_before_date =

'2017-08-23'

In [67]:
# Calculate the date 1 year ago from the last data point in the database
year_prior = session.query(measure.date,measure.prcp).filter(measure.date>=final_date).all()
year_prior

[]

In [37]:
# Perform a query to retrieve the data and precipitation scores
dat_scores = session.query(measure.date, measure.prcp).filter(measure.date >= year_prior).all()

NameError: name 'year_prior' is not defined

In [38]:
# Save the query results as a Pandas DataFrame and set the index to the date column
scores_df = pd.DataFrame(dat_scores)
scores_df = scores_df.set_index('date')

NameError: name 'dat_scores' is not defined

In [39]:
# Sort the dataframe by date
scores_df = scores_df.sort_values('date')

NameError: name 'scores_df' is not defined

In [40]:
# Use Pandas Plotting with Matplotlib to plot the data

In [41]:
# Use Pandas to calcualte the summary statistics for the precipitation data
scores_df.describe()

NameError: name 'scores_df' is not defined

In [42]:
# Design a query to show how many stations are available in this dataset?
session.query(func.count(station.station)).all()

In [43]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.

In [44]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature of the most active station?

In [ ]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram